body {
    min-width: 1200px;
    font-family: 'Montserrat', sans-serif;
}

/*_________________HEADER________________*/


header {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(94, 93, 88, 0.6);
    height: 120px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.menu_list {
    color: white;
    display: flex;
    flex-direction: row;

}

.menu_list li {
    cursor: pointer;
    list-style-type: none;
    position: relative;
    margin-left: 11px;
    margin-right: 11px;
    align-self: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.menu_list li:hover {
    color: #18CFAB;
}

.menu_list li:hover::after {
    position: absolute;
    content: "";
    display: block;
    top: 69.5px;
    background-color: #18CFAB;
    width: 100%;
    height: 2px;

}

.main-bg {
    background-image: url("../img/bg/main_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 1012px;
    position: fixed;
    z-index: -5;

}

/*______________________FIRST section___________*/

.first_section {
    height: min-content;
    min-width: 1200px;
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;
    
}

.first_section > div > h2 {
    padding-top: 264px;
    font-weight: 700;
}

.first_section > div > h1 {
    padding-top: 22px;
    padding-bottom: 22px;
    text-transform: uppercase;
    font-weight: 700;
}
.first_section > div > h3 {
    color: rgba(212, 212, 212, 1);
    font-weight: 400;
}

span {
    color: #18CFAB;
}

.default_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1160px;
    
}

.default_section > h3 {
margin-top: 0;
}

h2 {
    font-weight: 700;
    font-size: 35px;
    
}

h1 {
    font-weight: 700;
    font-size: 78px;
    
}

h3 {
    font-weight: 400;
    font-size: 34px;
    
}

.btn_list {
    margin-top: 134px;
    margin-bottom: 242px;

}

button {
    cursor: pointer;
    width: 169px;
    height: 63px;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    border-radius: 5px;
}

.btn-shadow {
    box-shadow: 0 -4px 0 #ffffff;
}

.btn_left {
    background: #18CFAB;
    border-color: #18CFAB;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
}

.btn_right {
    background: #00CBF6;
    border-color: #00CBF6;
    margin-left: 26px;
}


/*______________________SECOND section___________*/


#about {
    display: flex;  
}

.about-container {
    display: grid;
    grid-template-rows: 50% 50%;
    width: 33%;
    height: 377px;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.about-container img {
    margin: 20% 0 0 0;
}

.about-container p {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.bg-turq {
    background-color: #18CFAB;
    color: #FFFFFF;
}


.bg-dark {
    background-color: #1C2A33;
    color: #18CFAB;
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 482px;
    height: 377px;
    color: #FFFFFF;
}
.square img {
    margin: 20% 0 0 0;
}
.square-flex {
    display: flex;
    flex-wrap: nowrap;
}

.square_tiffani {
    background: #18CFAB;
    color: #FFFFFF;
    text-transform: uppercase;
}

.square_dark {
    background: #1C2A33;
    color: #18CFAB;
    text-transform: uppercase;
}

.square p {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: 50px;
}

.title_mr_top {
    margin-bottom: 100px;
    margin-top: 84px;
    font-weight: 400;
    font-size: 36px;
    color: rgba(78, 78, 78, 1);
    position: relative;
}

.title_mr_top::before,
.title_mr_top::after {
    position: absolute;
    content: "";
    display: block;
    background-color: #18CFAB;
    height: 1px;
    width: 75px;

}

.title_mr_top:before {
    left: calc(50% - 30px);
    top: 68px;
}

.title_mr_top:after {
    left: calc(50% - 15px);
    top: 72px;
}


/*______________________SERVICE___________*/

.tabs {
    display: flex;
    background: #F8FCFE;
    list-style: none;
}

.tabs-title {
    margin: 0;
    border: solid 1px #EDEFEF;
    list-style-type: none;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: rgba(113, 113, 113, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    cursor: pointer;
    width: 195px;
    height: 76px;
    position: relative;
}

.tabs-title:hover {
    border: 1.5px solid #18CFAB;
}

.tabs-title.active {
    background: #18CFAB;
    border: 1.5px solid #18CFAB;
    color: #FFFFFF;
}

.tabs-title.active::after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #18CFAB;
    left: calc(50% - 6px);
    top: 77px;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.img_tab {
    width: 200px;
    height: 140px;
}

.tabs-content div {
    display: none;
    margin: 24px 0 0 0;
}

.tabs_nav {
    margin-bottom: 91px;
}

.tabs-content div.active {
    display: flex;
}

.tabs-content p {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    margin: 0 0 0 15px;
    color: #777777;  
}



/*______________________THIRD section___________*/


.bg_third_section {
    background: url("../img/bg/bg_3section.png");
    height: 476px;
}

.third_section {
    display: flex;
    justify-content: center;
}

.third_section h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-top: 126px;
    margin-bottom: 0;
}

.third_section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    padding-top: 12px;
}

.third_section button {
    margin-top: 67px;
}



/*_________________FOUR section__________________*/



.work_box {
    width: 1160px;
    margin: 0 auto;   
}

.title_checkboxes {
    position: relative;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}

.title_checkboxes::before,
.title_checkboxes::after {
    position: absolute;
    content: "";
    display: block;
    background-color: #18CFAB;
    height: 1px;
    width: 75px;
}

.title_checkboxes:before {
    left: calc(50% - 30px);
    top: 68px;
}

.title_checkboxes:after {
    left: calc(50% - 15px);
    top: 72px;
}

.work {
    padding: 95px 0 99px;
    text-align: center;
    background-color: #E9EDEF; 
    min-height: 1035px;
}

.work_menu {
    padding-top: 96px;
    margin: 0 285px 71px;
    display: grid;
    grid-template-columns: 79px 144px 119px 139px 108px;
}

.work_menu_items {
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    text-align: center;
    align-items: center;
    color: #717171;
    background: #F8FCFE;
    border: 1px solid #DADADA;
    padding-top: 8px;
    padding-bottom: 7px;
    cursor: pointer;
    box-sizing: border-box;
    list-style: none;  
}

.items_active {
    align-items: center;
    border: 2px solid #18CFAB;
    color: #18CFAB;
    padding-top: 7px;
    padding-bottom: 6px;
}

.gallery {
    margin: 0 10px 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gallery_card {
    position: relative;
    overflow: hidden;
    width: 285px;
    height: 211px;
    display: none;
}

.card_active {
    display: block;
}

.gallery_card:hover .gallery_card_content {
    top: 0;
    transform: scale(1);
}

.gallery_card_picture {
    width: 285px;
    height: 211px;
}

.gallery_card_content {
    text-align: center;
    padding: 40px 0;
    border-top: 3px solid #18CFAB;
    background: #E9EDEF;
    position: absolute;
    top: 100%;
    transform: scale(0);
    transition: top 0.3s, transform 0.3s;
    width: 100%;
    height: 100%;
}

.gallery_card_title {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: #18CFAB;
    text-transform: uppercase;
    margin: 16px 0;
}

.gallery_card_text {
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

.work_button {
    position: relative;
    padding: 10px 17px 10px 60px;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #18CFAB;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 168px;
    height: 62px;
}

.work_button::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 4px;
    left: 25px;
    top: 29px;
    background: #FFFFFF;
}

.work_button::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 18px;
    left: 32px;
    top: 22px;
    background: #FFFFFF;
}

.button_load {
    display: block;
    height: 62px;
}

.loader {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.loader::before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 10px solid #18CFAB;
    z-index: 6;
    border-left-color: transparent;
    position: absolute;
    top: -9px;
    left: 47%;
    transform: rotate(0deg);
    animation: 500ms linear infinite spinner;
}

@keyframes spinner {
    from 
        {transform: rotate(0deg)}
    to 
        {transform: rotate(360deg)}
}


/*__________________FIVE section________________*/


.five_section h2 {
    margin-top: 82px;
    margin-bottom: 100px;
}

.frame {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 128px;
}

.item1 {
    position: relative;
}

.item1:hover .frame_title {
    color: #18CFAB;
}

.item1:hover figcaption {
    background-color: #18CFAB;
}

.item1 figcaption {
    position: absolute;
    top: 0;
    right: 0;
    background: #203E38;
    color: #fff;
    width: 70px;
    height: 68px;
}

.item1 {
    text-decoration: none;
}

figcaption {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    align-items: center;
    text-align: center;

}

.frame_title {
    color: #717171;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    line-height: 39px;
    align-items: center;
    text-align: center;
}

.frame_comment {
    align-items: center;
    text-align: center;
    margin-bottom: 48px;
    margin-top: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}


/*____________________SIX section________________*/

.feedback{
    padding: 105px 0;
    background-repeat: no-repeat;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../img/bg/bg_slider.png);
    color: #a3a7a8;
    font-size: 16px;
}

.bg{
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.testimonial {
    margin: 0 auto;
    width: 1160px;
    text-align: center;
}

.white {
    color: #FFFFFF;
}

.slider{
    margin-top: 100px;
}

.slider-comment{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-comment-user {
    color: #BBBBBB;
    font-weight: 300;
    line-height: 30px;
    font-size: 16px;
}

.feedback-wrapper{
    position: relative;
    height: 425px;
    width: 100%;
}

.slider-user-feedback{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.slider-user-feedback.active{
    opacity: 1;
    transition: 1s;
    animation: show 3s 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.slider-user-data-name{
    padding-bottom: 15px;
    font-size: 20px;;
    color: #18cfab;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-user-data-profession{
    padding-bottom: 50px;
    font-size: 13px;
    color: #BBBBBB;
}

.slider-user-foto-big{
    display: inline-block;
    margin-bottom: 70px;
    height: 145px;
    width: 145px;
    box-sizing: border-box;
    border: 2px solid #18cfab;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #18cfab50;
    overflow: hidden;
}

.slider-area{
    display: flex;
    margin: 0 auto;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    user-select:none
}

.arrow-left{
    width: 30px;
    height: 30px;
    top: 16px;
    box-sizing: border-box;
    border: 1px solid #969a9c;
    color: #969a9c;
    font-size: 18px;
    line-height: 30px;
}

.arrow-right{
    width: 30px;
    height: 30px;
    top: 16px;
    box-sizing: border-box;
    border: 1px solid #969a9c;
    color: #969a9c;
    font-size: 18px;
    line-height: 30px;
}

.arrow-left:hover, .arrow-right:hover{
    background-color: #18cfab;
    border: 1px solid #18cfab;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

.slider-wrapper{
    display: flex;
    width: 370px;
    justify-content: space-between;
}

.slider-user-foto-small{
    position: relative;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #18cfab50;
    overflow: hidden;
}

.slider-user-foto-small.active{
    border: 1px solid #18cfab;
    transform: translate3d(0px, -20px, 0px);
    transition: transform .4s ease-in-out;
    cursor: pointer;
}

.slider-user-foto{
    height: auto;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}


/*____________________SEVEN section________________*/

.seven_section {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
}

.skills_title {
    color: #4E4E4E;
    position: relative;
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0 0 80px 0;

}

.skills_title::before,
.skills_title::after {
    position: absolute;
    content: "";
    display: block;
    background-color: #18CFAB;
    height: 1px;
    width: 75px;

}

.skills_title:before {
    left: calc(50% - 40px);
    top: 68px;
}

.skills_title:after {
    left: calc(50% - 25px);
    top: 72px;
}


.white-container {
    background-color: #ffffff;
    padding: 95px 0;
    width: 100%;
}

.grid-item {
    background-color: dodgerblue;
    box-sizing: border-box;
    float: left;
    width: 63px;
    height: 92px;
    margin: 0 0 10px 0;
    padding: 0;
}

.grid-item img {
    width: inherit;
    height: inherit;
}

.gallery_button {
    margin-top: 50px;
    margin-bottom: 80px;
}

.grid-item--width2 { width: 126px; }
.grid-item--width3 { width: 189px; }
.grid-item--width4 { width: 378px; }

.grid-item--height2 { height: 168px; }
.grid-item--height3 { height: 263px; }
.grid-item--height4 { height: 380px; }


/*____________________FOOTER________________*/

footer{
    background-color: #22353f;
}

footer p{
    padding: 47px 0;
    text-align: center;
    color: #AEAEAE;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
}

footer span{
    color: #18cfab;
    text-decoration: none;
}